.navbar {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: brown;
  color: white;
  padding: 0px 20px;
}

.nav-items {
  color: white;
}

footer {
  margin-top: 20px;
  background-color: brown;
  color: white;
  padding: 5px;
  text-align: center;
}
